.project:not(:last-child) {
	margin-right: 30px;
}
.project__line {
	width: 13%;
	height: 0.3em;
	margin: 0.8em 0;
	background-color: var(--accent);
}
.project__name {
	font-size: 1rem;
	color: var(--dark);
	margin-bottom: 0.8em;
}
.project__description {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 0.8rem;
	color: var(--gray);
 }