@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;500&display=swap');

:root {
	--gray: #999999;
	--light-gray: #F7F7F7;
	--accent: #F7654A;
	--dark: #404149;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Oswald;
}

img {
	width: 100%;
}

.block-name {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 3em;
	margin-bottom: 1em;
	font-size: 2rem;
	text-transform: uppercase;
}