.contacts {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	text-align: center;
	justify-content: space-between;
	font-size: 1.1rem;
}

.contact__img {
	height: 1.5em;
}

.contact__img img {
	height: 100%;
	width: unset;
}

.contact__title {
	color: var(--gray);
	margin: 0.8em 0;
}

.contact__text {
	white-space: pre-line;
}